/* App.css*/
.App {
  font-family: sans-serif;
  padding-bottom: 60px;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #eee;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
